[mt-input] {
    padding: 0;

    /*

    it works but less compatible

    ng-component:not(.desktop) & {
            .label {
                font-size: 1rem;
            }

            .text-input {
                font-size: 1rem;
            }

            .width {
                margin-right: 2px;
            }
        } */

    .label {
        font-size: 1rem;

        .desktop & {
            font-size: inherit;
        }
    }

    // inside ion-input
    .text-input {
        font-size: 1rem;
        text-align: right;
        margin: 0 !important;
        width: 100%;

        .desktop & {
            font-size: inherit;
        }
    }

    .text-input-wp {
        padding: 0;
    }

    // ios check others
    .input {
        display: flex;
    }
}
