<ion-item *ngIf="title !== undefined; else noTitle"
          mt-input
          class="dimension__width">
    <ion-label>{{ title }}</ion-label>

    <ng-container *ngTemplateOutlet="input"></ng-container>
</ion-item>


<ng-template #noTitle>
    <ng-container *ngTemplateOutlet="input"></ng-container>
</ng-template>



<ng-template #input>
    <ion-input type="number"
               [min]="min"
               [step]="setp"
               placeholder="width"
               [ngModel]="model.model"
               (ngModelChange)="modelChanged($event)">
    </ion-input>
</ng-template>
