<!-- <ion-list no-border>
    <ion-list-header>
        Json Configuration
        <button ion-button
                icon-only
                item-end
                clear>
            <ion-icon name="cog"></ion-icon>
        </button>
    </ion-list-header>

    <ion-item-group>

        <mode (mtSelected)="mode=$event"></mode>
        <platform *ngIf="mode==='online'"
                  (select)="platform=$event"></platform>

    </ion-item-group>

</ion-list>
 -->

<!--<ion-card>

     <ion-card-header text-left>
        Json Configuration
    </ion-card-header>
  <ion-card-content> -->

<ion-list no-border>
    <!--  <ion-item-group> -->

    <mt-question mtIconName="wifi"
                 mtTitle="Mode">

        <mode mt-question-element></mode>
    </mt-question>


    <mt-question mtIconName="logo-android"
                 mtTitle="Platform">

        <platform mt-question-element
                  *ngIf="mode==='online'"></platform>
    </mt-question>


    <!--   </ion-item-group> -->

</ion-list>

<!-- </ion-card-content>
</ion-card>
 -->
