<ion-item mt-input
          class="dimension__width">
    <ion-label>Width</ion-label>

    <ion-input type="number"
               min="0"
               step="1"
               placeholder="width"
               [(ngModel)]="width">
    </ion-input>

</ion-item>


<ion-item mt-input>
    <ion-label>Height</ion-label>

    <ion-input type="number"
               min="0"
               step="1"
               placeholder="height"
               [(ngModel)]="height">
    </ion-input>
</ion-item>
