dimension {
   /*  .item {
        padding: 0;
    }

    .dimension__label {
        font-size: 1rem;

        .desktop & {
            font-size: inherit;
        }
    }

    // inside ion-input
    .text-input {
        font-size: 1rem;
        text-align: right;
        margin: 0 !important;
        width: 100%;

        .desktop & {
            font-size: inherit;
        }
    }

    .text-input-wp {
        padding: 0;
    }

    // ios check others
    .dimension__input {
        display: flex;
    }
*/

    .dimension__width {
        margin-right: 2px;

        .desktop & {
            margin-right: 15px;
        }
    }
}
