<div *ngIf="emojisByCategory !== undefined; else listSkeleton"
     class="emoji-list">

    <ng-container *ngFor="let category of filterdCategories">
        <!-- | notEmptyEmojiCategory -->
        <mt-emoji-category [mtCategory]="category"></mt-emoji-category>

        <div class="emoji-buttons">
            <mt-emoji-picker-button *ngFor="let emoji of emojisByCategory[category.category]"
                                    (mtSelection)="emojiSelected($event)"
                                    [mtEmoji]="emoji"></mt-emoji-picker-button>
        </div>

    </ng-container>

</div>

<ng-template #listSkeleton>
    <p>skeleton list</p>
</ng-template>
