mt-segment {
    /* display: block;
    width: auto; */
    // flex-grow: 1;
    padding-top: 1rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    [mt-segment-button] {
        width: 100%;

        // flex-grow: 1;

    }

    /* [mt-segment-button].isActivated {
        background-color: blue;
    } */
}

.md mt-segment {
    [mt-segment-button].isActivated {
        background-color: $button-md-background-color-activated;
        box-shadow: $button-md-box-shadow-activated;
    }

    [mt-segment-button][outline].isActivated {
        background-color: $button-md-outline-background-color-activated;
        box-shadow: $button-md-outline-box-shadow-activated;
        opacity: $button-md-outline-opacity-activated;
    }
}

.ios mt-segment {
    [mt-segment-button].isActivated {
        background-color: $button-ios-background-color-activated;
        opacity: $button-ios-opacity-activated;
    }

    [mt-segment-button][outline].isActivated {
        color: $button-ios-outline-text-color-activated;
        background-color: $button-ios-outline-background-color-activated;
        opacity: $button-ios-outline-opacity-activated;
    }
}

.wp mt-segment {
    [mt-segment-button].isActivated {
        background-color: rgba($button-wp-outline-background-color-activated, $button-wp-outline-background-color-opacity-activated);
    }

    [mt-segment-button][outline].isActivated {
        background-color: rgba($button-wp-outline-background-color-activated, $button-wp-outline-background-color-opacity-activated);
    }
}
