<button *ngIf="!emojiSheet.sheet; else sheetButton"
        class="emoji-button"
        (click)="buttonClikedHandler($event)"
        [innerHTML]="emoji.unified | codeToUnicode">

    <!-- {{ emoji.unified | codeToUnicode }} -->
</button>

<ng-template #sheetButton>

    <span class="emoji-button-from-sheet-enclosure"
          (click)="buttonClikedHandler($event)">
        <span class="emoji-button-from-sheet"
              [style.backgroundImage]="'url(' + emojiSheet.url + ')'"
              [style.backgroundPositionX]="-emoji.sheetX * 25 + 'px'"
              [style.backgroundPositionY]="-emoji.sheetY * 25 + 'px'">
        </span>
    </span>
    <!--
     [style.backgroundPositionX]="-emojiPickerOptions.locator(emoji[1]).x * 25 + 'px'"
     [style.backgroundPositionY]="-emojiPickerOptions.locator(emoji[1]).y
    * 25 + 'px'"
-->
</ng-template>
