<!-- <div class="emoji-list"
     #list> -->

<!-- *ngIf="emojisByCategory !== undefined; else listSkeleton" -->

<div class="category"
     *ngFor="let category of filteredCategories;trackBy: categoryTrackBy">


    <!-- | notEmptyEmojiCategory -->
    <mt-emoji-picker-category [mtCategory]="category"></mt-emoji-picker-category>

    <div class="category__buttons"
         [class.unicode]="!useSheet"
         [style.width.px]="buttonsWidth">
        <!-- <div class="emoji-buttons__content"> -->

        <mt-emoji-picker-button *ngFor="let emoji of emojisByCategory[category.category];trackBy: emojisByCategoryTrackBy"
                                (mtSelection)="emojiSelected($event)"
                                [mtEmoji]="emoji"
                                [style.margin.px]="marginButton">
        </mt-emoji-picker-button>
        <!-- <div class="emoji-last"></div> -->
        <!--  </div> -->


    </div>

</div>

<!-- </div> -->

<ng-template #listSkeleton>

</ng-template>
