<ion-list no-border>


    <mt-question mtIconName="play"
                 mtTitle="Sheet/Unicode">

        <use mt-question-element></use>
    </mt-question>

    <mt-question mtIconName="logo-android"
                 mtTitle="Platform">

        <mt-select mt-question-element
                   [model]="modelFactory.create(unicodeSheet)"
                   [options]="['unicode', 'sheet']">
        </mt-select>
    </mt-question>



    <div *ngIf="use">

        <mt-question mtIconName="logo-android"
                     mtTitle="Platform">

            <mt-platform mt-question-element>
            </mt-platform>
        </mt-question>




        <mt-question mtIconName="image"
                     mtTitle="Raster/SVG">

            <type mt-question-element> </type>
        </mt-question>


        <mt-question mtIconName="image"
                     mtTitle="Raster/SVG">

            <mt-segment mt-question-element
                        [model]="modelFactory.create(sheet.parameters.sheet.type)"
                        [segments]="['raster', 'svg']"> </mt-segment>
        </mt-question>



        <mt-question mtIconName="resize"
                     mtTitle="Dimension">

            <mt-dimension mt-config="1234"
                          caca="17"
                          mt-question-element>
            </mt-dimension>
        </mt-question>


        <mt-question mtIconName="eye"
                     mtTitle="Resolution">

            <resolution mt-question-element></resolution>
        </mt-question>


        <mt-question mtIconName="crop"
                     mtTitle="Margin">

            <margin mt-question-element></margin>
        </mt-question>



        <mt-question mtIconName="crop"
                     mtTitle="Margin">

            <mt-input-numerical [model]="modelFactory.create(sheet.parameters.sheet.margin)"
                                mt-question-element></mt-input-numerical>
        </mt-question>


    </div>

    <!--  </ion-item-group>
 -->
</ion-list>
