<mt-category mt-big
             mt-strong-title
             mtTitle="Emoji Picker Configuration">
    <div mt-category-element>

        <mt-category mt-normal-title
                     mtTitle="Json Configuration">
            <mt-json mt-category-element></mt-json>
        </mt-category>

        <mt-category mt-normal-title
                     mtTitle="Sheet Configuration">
            <mt-sheet mt-category-element></mt-sheet>
        </mt-category>

        <mt-category mt-normal-title
                     mtTitle="Css Configuration">
            <mt-css mt-category-element></mt-css>
        </mt-category>

    </div>
</mt-category>
