<!-- <h2 class="title">Emoji Picker Configuration</h2> -->
<!-- <ion-list-header text-left>CACACA</ion-list-header> -->


<!-- <json class="category"></json>
<sheet class="category"></sheet>
 -->

<!-- <ion-card>

    <ion-card-header text-left>
        Emoji Picker Configuration
    </ion-card-header>

    <ion-card-content>
 -->

<mt-category mt-big
             mt-strong-title
             mtTitle="Emoji Picker Configuration">
    <div mt-category-element>

        <mt-category mt-normal-title
                     mtTitle="Json Configuration">
            <json mt-category-element></json>
        </mt-category>

        <mt-category mt-normal-title
                     mtTitle="Sheet Configuration">
            <sheet mt-category-element></sheet>
        </mt-category>

    </div>
</mt-category>
<!--     </ion-card-content>
</ion-card>
 -->
