mt-question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    padding-bottom: 20px;
    border-bottom: 1.2px solid #c8c7cc;

    .desktop & {
        margin-left: 20px;
    }

    .question__content {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        height: 100%;

        // padding-top: 8px;
        margin-left: 8px;
        max-width: 60%;
    }

    /* [mt-question-element]  */
    .desktop & .question__content {
        max-width: 80%;
    }

    [mt-question-element] {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
    }

    [mt-question-element] + [mt-question-element] {
        margin-left: 2px;

        .desktop & {
            margin-left: 15px;
        }
    }

    /* .question__element {
        flex-grow: 1;
    } */
}

mt-question + mt-question {
    margin-top: 15px;
}

/* .dimension__width {
    margin-right: 2px;

    .desktop & {
        margin-right: 15px;
    }
} */
