<ion-list no-border>

    <!-- Content -->
    <mt-question mtIconName="resize"
                 mtTitle="Content">

        <mt-input-numerical mtTitle="Width"
                            [model]="modelFactory.create(css.content.width)"
                            mt-question-element></mt-input-numerical>
        <mt-input-numerical mtTitle="Height"
                            [model]="modelFactory.create(css.content.height)"
                            mt-question-element></mt-input-numerical>
    </mt-question>


    <!-- List -->
    <mt-question mtIconName="eye"
                 mtTitle="List Padding">

        <mt-input-numerical [model]="modelFactory.create(css.content.list.padding)"
                            mt-question-element></mt-input-numerical>
    </mt-question>


    <!-- Button -->
    <mt-question mtIconName="crop"
                 mtTitle="Button Margin">

        <mt-input-numerical [model]="modelFactory.create(css.content.list.buttons.button.margin)"
                            mt-question-element></mt-input-numerical>
    </mt-question>

    <mt-question mtIconName="crop"
                 mtTitle="Button SizeRequired">

        <mt-input-numerical [model]="modelFactory.create(css.content.list.buttons.button.sizeRequired)"
                            mt-question-element></mt-input-numerical>
    </mt-question>



</ion-list>
